.card-content {
    padding: 0;
}

.card-content .card-body {
    padding: 0px;
}

.card-content .card-wrap {
    display: inline-flex;
    margin: auto;
}

.enemy-card {
    max-width: 150px;
    transition: background-color 0.5s ease;
    text-align: center;
}

.enemy-card:hover {
    background-color: rgb(184, 184, 184);
}

.enemy-card .card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}