.name-right {
    text-align: right;
}

.versus {
    display: flex;
}

.versus .versus-title {
    margin: auto;
    font-weight: 800;
    font-size: 2em;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#combat-logs {
    flex-grow: 1;
    overflow: auto;
}

body, html {
    height: 100vh;
}