<div class="card card-content {{#if isDead}}text-white bg-danger{{/if}}">
    <div class="row no-gutters">
        {{#if left}}
        <div class="col-md-4">
            <img src="../assets/{{avatar}}" class="card-img">
        </div>
        {{/if}}
        <div class="col-md-8 p-2 card-wrap">
            <div class="card-body">
                <h5 class="">{{name}}</h5>
                {{#if isDead}}
                <h6>Mort</h6>
                {{else}}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{life}}" aria-valuemin="0"
                        aria-valuemax="{{initialLife}}" style="width:{{life}}%">
                        {{life}}/{{initialLife}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        {{#if right}}
        <div class="col-md-4">
            <img src="../assets/{{avatar}}" class="card-img">
        </div>
        {{/if}}
    </div>
</div>