{{#each enemis}}
<div class="card enemy-card">
    <img class="card-img-top" src="../assets/{{avatar}}" />
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        {{#if_eq life 0}}
        <a class="btn">Vaincu</a>
        {{else}}
        <a  class="btn-danger btn" href="../combat/combat.html?id={{id}}">Combattre</a>
        {{/if_eq}}
    </div>
</div>
{{/each}}