.header {
    background-image: url("./assets/background.gif");
    background-size: cover;
    min-height: 250px;
    display: flex;
  }
  
  .header .header-title {
    margin: auto auto 0 auto;
    color: white;
    font-size: 4em;
    font-family: fantasy;
  }
  